version: '2'
services:
  database:
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_PASSWORD=development
  app:
    image: octobox
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    links:
      - database:database.service.octobox.internal
    environment:
      - RAILS_ENV=development
      - GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - OCTOBOX_DATABASE_NAME=postgres
      - OCTOBOX_DATABASE_USER=postgres
      - OCTOBOX_DATABASE_PASSWORD=development
      - OCTOBOX_DATABASE_HOST=database.service.octobox.internal