<div class="container user-settings">
  <div class="card mb-3 mt-3">
    <h5 class="card-header">
      Editing saved search
    </h5>
    <div class="card-body">
      <%= render 'pinned_searches/form' %>
    </div>
  </div>
</div>
