<p>
  <% if notification.repository.try(:open_source?) %>
    Get realtime updates
  <% else %>
    Pull in state, labels, authors, assignees and CI status
  <% end %>
  on issues and pull requests by installing the GitHub App on
  <%= notification.repository_full_name %>.
</p>

<a href='<%= Octobox.config.app_url %>' class='btn btn-primary btn-sm'>Install the GitHub App</a>
