<div id="help-box" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Keyboard shortcuts</h4>
      </div>
      <div class="modal-body">
        <table class="keyboard-mappings">
          <tbody>
            <tr>
              <td class="keys">
                <div class="key">.</div> or <div class="key">r</div>
              </td>
              <td>
                Refresh
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">j</div>
              </td>
              <td>
                Move down the list
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">k</div>
              </td>
              <td>
                Move up the list
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">s</div>
              </td>
              <td>
                Star current notification
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">x</div>
              </td>
              <td>
                Mark current notification
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">a</div>
              </td>
              <td>
                Select/deselect all
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">y</div>
              </td>
              <td>
                Archive current/marked notification(s)
              </td>
            </tr>
            <tr>
              <td class="keys">
                <div class="key">o</div> or <div class="key">Enter</div>
              </td>
              <td>
                Open current notification in a new window
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
