<p>
  The GitHub App is installed on this repository, authorize it to see state, labels, authors, assignees and CI status on this notification.
</p>

<a href='/auth/githubapp' class='btn btn-primary btn-sm'>Login to the GitHub App</a>
