<p>
  The GitHub App is installed on this repository, authorize it to see state, labels, authors, assignees and CI status on this notification.
</p>

<%= link_to 'Login to the GitHub App', '/auth/githubapp', class: 'btn btn-primary btn-sm', method: :post %>
