<p>
  The GitHub App is installed on this repository, authorize it to see state, labels, authors, assignees and CI status on this notification.
</p>

<a class='btn btn-primary btn-sm' rel='nofollow' data-method='post' href='/auth/githubapp'>Login to the GitHub App</a>
