<p>
  Enable pulling in state, labels, authors, assignees and CI status on issues and pull requests for private repositories by subscribing to a paid plan.
</p>

<a href='<%= pricing_path %>' class='btn btn-primary btn-sm'>Subscribe</a>
