<div id="search-help" class="modal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Cheat Sheet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Examples of some common searches using supported prefixes. Combine them together and with free text searches, for example:
          "<code>github enterprise type:issue owner:octobox reason:assign</code>".
        </p>

        <p>
          Many prefixes accept multiple arguments when separated by commas or passed twice, for example:
          "<code>type:issue,release owner:octobox owner:24pullrequests</code>".
        </p>
        <p>
          Some prefixes also can be negated to exclude certain types of results, for example:<br/>
          "<code>-repo:splitrb/split -type:commit -owner:octobox -reason:mention -status:failure</code>".
        </p>
        <h5>Supported prefixes</h5>
        <%= render 'shared/search_prefixes' %>
      </div>
    </div>
  </div>
</div>
