<ul class="dropdown-menu">
  <li class="dropdown-item"><a href="#" class='submit_snooze_selected' data-duration="<%= 1.hour %>">One Hour</a></li>
  <li class="dropdown-item"><a href="#" class='submit_snooze_selected' data-duration="<%= 1.day %>">One Day</a></li>
  <li class="dropdown-item"><a href="#" class='submit_snooze_selected' data-duration="<%= 1.week %>">One Week</a></li>
  <li class="dropdown-item"><a href="#" class='submit_snooze_selected' data-duration="<%= 1.month %>">One Month</a></li>
</ul>
