<div class="d-flex align-items-stretch">
  <div class="col" style='min-width:250px; overflow-y:scroll;'>
    <%= render "sidebar" %>
  </div>
  <div class="col flex-fill" style='overflow-y:scroll;'>
    <%= render 'list' %>
  </div>
  <div id='thread' class="col" style='min-width:50em; overflow-y:scroll;'>
    No Message Selected
  </div>
</div>

<%= render 'help-box' %>
