###
# Octobox can be configured using environment variables or via it's
# configuration API directly. To use this file, copy it to config/initializers/octobox.rb
# Changes in your new configuration file will not be tracked by Git.
#
# Note that all of these options have a corresponding environment variable that can be utilized as well.
# For more details regarding these options, see "Using the Configuration API" in INSTALLATION.md
#

Octobox.config do |c|
  # Sets the domain used for GitHub services, allowing for use of Octobox on GitHub Enterprise.
  # c.github_domain = https://github.com

  # When true, allows personal access tokens to be used when querying for notifications.
  # c.personal_access_tokens_enabled = false

  # Enables users to set an auto-refresh interval that will cause a periodic
  # sync and page reload when they are viewing notifications.
  # For more information, see INSTALLATION.md
  # c.minimum_refresh_interval = 0

  # The maximum notifications allowed to be synced at a given time.
  # c.max_notifications_to_sync = 500

  # These options restrict access to your Octobox instance by organization or team.
  # c.restricted_access_enabled = false
  # c.github_organization_id    = nil
  # c.github_team_id            = nil

  # Specifies link used for access to source code of the running instance, per LICENSE.
  # See INSTALLATION.md for more information.
  # c.source_repo = 'https://github.com/octobox/octobox'
end
