<table class="keyboard-mappings">
  <tbody>
    <tr>
      <td class="keys">
        <div class="key">.</div> or <div class="key">r</div>
      </td>
      <td>
        Refresh
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">j</div>
      </td>
      <td>
        Move down the list
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">k</div>
      </td>
      <td>
        Move up the list
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">s</div>
      </td>
      <td>
        Star current notification
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">x</div>
      </td>
      <td>
        Mark current notification
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">a</div>
      </td>
      <td>
        Select/deselect all
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">y</div> or <div class="key">e</div>
      </td>
      <td>
        Archive current/marked notification(s)
      </td>
    </tr>
    <tr>
    <tr>
      <td class="keys">
        <div class="key">m</div>
      </td>
      <td>
        Mute current/marked notification(s)
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">d</div>
      </td>
      <td>
        Mark current/marked notification(s) as read here and on GitHub
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">#</div>
      </td>
      <td>
        Delete current/marked notification(s)
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">o</div> or <div class="key">Enter</div>
      </td>
      <td>
        Open current notification in a new window
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">?</div>
      </td>
      <td>
        Show this help menu
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">esc</div>
      </td>
      <td>
        Close modal, thread OR clear filters
      </td>
    </tr>
  </tbody>
</table>
