<% unless Octobox.fetch_subject? || Octobox.personal_access_tokens_enabled? %>
  <div id="repo-scope" class="modal" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Repository scope required</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>
            This feature requires additional permissions.
            <% if Octobox.io? %>
              <%= link_to 'Install the GitHub App', Octobox.config.app_url %> to enable them.
            <% else %>
              See the <%= link_to 'documentation', documentation_path(anchor: 'accessing') %> for how to enable them.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
