<ul class="list-group list-group-flush pe-0">
	<li class="list-group-item mb-1"><%= octicon('check', class:'text-success') %> Unlimited private repositories</li>
	<li class="list-group-item mb-1"><%= octicon('check', class:'text-success') %> Unlimited public repositories</li>
	<li class="list-group-item mb-1"><%= octicon('check', class:'text-success') %> Unlimited collaborators</li>
</ul>