<div class="pricing card shadow p-3 rounded">
  <%= render('pages/ribbon') %>
  <div class="card-body">
  	<p class='text-muted'>Open Collective</p>
    <h5 class="card-title">Support the community</h5>
    <h6 class="card-subtitle mb-2 text-muted">Pay by donation on Open Collective.</h6>
    <p class="card-text">Private repository access</p>
    <%= render('pages/features') %>
	  <div class='d-flex align-items-center border-top border-bottom py-2 mt-3 mb-3 d-flex flex-md-items-center flex-justify-between'>
      <span class="text-small text-muted d-block mt-1 mt-md-0 mr-1">from</span>
	  	<span class="price pr-2">$10</span>
	  	<span class="text-small text-muted d-block mt-1 mt-md-0">/ user / month</span>
	  </div>
	  <a href='https://opencollective.com/octobox/donate?amount=10&interval=month&description=individual&redirect=https://octobox.io/opencollective' target='_blank' class='btn btn-success w-100'>Donate on Open Collective</a>
	  <p class='text-muted'><small>Next: make your donation on Open Collective</small></p>
  </div>
</div>
