<div class="jumbotron" style="background-color: white;">
  <div class="container">
    <h1 class="text-center">Octobox</h1>
    <p class="text-center">Take back control of your GitHub notifications</p>
    <div class="text-center">
      <%= link_to login_path, class: 'btn btn-default btn-lg' do %>
        Sign in with GitHub
      <% end %>
    </div>
  </div>
</div>
