<% if current_page.last? %>
  <li class="disabled">
    <span><%= raw(t 'views.pagination.next') %></span>
  </li>
<% else %>
  <li>
    <%= link_to raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
  </li>
<% end %>
