<div class='d-flex justify-content-center'>
	<div class='card text-center mt-5 mx-3 mb-3'>
		<h2 class='card-header'>
			<%= emojify(':sweat:')%> 
		</h2>
		<div class='card-body'>
			<h3 class='card-title'>We've had a problem at our end.</h3>
			<p>Hopefully this a temporary setback.  Try again in a few moments.</p>
		</div>
	</div>
</div>