<div class='d-flex justify-content-center'>
	<div class='card text-center mt-5 mx-3 mb-3'>
		<h2 class='card-header'>
			<%= emojify(':grimacing:')%> 
		</h2>
		<div class='card-body'>
			<h3 class='card-title'>We can't find whatever it was you were looking for.</h3>
			<p>
				In truth, we may never have had what you are looking for. 
				<% if logged_in? %>
					Maybe try <%= link_to "re-syncing your notifications?", root_path %>
				<% end %>
			</p>
		</div>
	</div>
</div>