<div class='d-flex justify-content-center'>
	<div class='card text-center mt-5 mx-3 mb-3'>
		<h2 class='card-header'>
			<%= emojify(':no_mouth:')%> 
		</h2>
		<div class='card-body'>
			<h3 class='card-title'>Couldn't understand a word of that.</h3>
			<p>Whatever you were trying to say, is lost on us.  Maybe try again?</p>
		</div>
	</div>
</div>