//add xxl and xxxl breakpoints
@import 'breakpoints';

// bootstrap
@import 'bootstrap-custom';

// custom components and colors
@import 'variables';
@import 'badges';
@import 'ribbons';
@import 'buttons';
@import 'labels';
@import 'fills';

//primary layout
@import 'layout';

//secondary layouts
@import 'navbar';
@import 'sidebar';
@import 'notifications';
@import 'dialogs';
@import 'threads';

.btn.disabled {
 pointer-events: all !important;
}

.sync{
  margin-right: 0px;
}

.img-rounded {
  border-radius: 3px;
}

.octicon {
  vertical-align: text-bottom;
}

.filter-label {
  pointer-events: none;
}

.blockquote{
  border-left: 3px solid map-get($theme-colors, 'secondary');
}

.card-body blockquote {
  margin: 0 0 1rem;
  line-height: 2rem;
  background: var(--light);
}

.card-body blockquote p {
  margin: 0;
  padding: 1rem;
}

.card-notifications, .card-thread{
  margin-bottom: 20px;
  border-radius: 0;
  border-top: 0;
  .card-header {
    padding: 6px 8px;
    border-radius: 0;
  }
  .bold {
    font-weight: bold;
  }
}

.card.pricing{
  .price{
    font-size:2rem;
  }
}

.card-header{
  background: var(--bs-tertiary-bg);
  &.sticky-top{
    padding: 6px 8px;
    border-radius: 0;
  }
}

.pricing.card{
  .list-group-flush .list-group-item{
    padding: 0rem;
    border: 0;
  }
}

.select-all {
  margin-right: 14px;
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.spinning{
  animation: spin 1s infinite steps(90) reverse;
}

.screenshot{
  max-width: 100%;
}

.hidden-button {
  display: none;
}

.settings-sha {
  margin: 35px 0 10px;
}

.emoji{
  height: 1em;
  width: 1em;
}

.per-page .dropdown-menu{
  min-width: 4rem;
}

.text-large{
  font-size: 16px;
}

.blur-action {
  opacity: .5;
}

.collapsing {
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.card-header.collapsed{
  border-bottom: 0;
}

@include media-breakpoint-down(xl){
  .not-a-nav{
    background-color: $body-bg;
  }
}
