@import 'variables';
@import 'bootstrap-custom';
@import "patterns/blankslate";

html, body {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
}

.flex-body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.flex-header {
  flex: 0 0 auto;
}
.flex-content {
  display: flex;
  min-height:0;
}
.flex-sidebar {
  flex: 0 0 250px;
  overflow: auto;
  padding-bottom: 60px;
  .nav-item{
    max-width: 100%;
    &:hover{
      background-color: $list-group-hover-bg;
    }
  }
}
.flex-main {
  flex: 1;
  min-width: 0;
  overflow: auto;
}
.flex-container {
  padding: 15px;
  min-width: 0;
  &.text-content{
    h1, h2{
      padding-top: $spacer * 3
    }
    max-width: 60em;
    font-size: 16px;
    ul:last-child{
      min-height: 31em;
    }
  }
  .flex-main & {
    padding-left: 0;
  }
}

.footer {
  text-align: center;
  color: $text-muted;
  a{
    color: color-yiq($body-bg);
  }
}

@include media-breakpoint-down(md) {
  .flex-main{
    overflow-y: hidden;
  }
  .flex-container {
    .flex-main & {
      padding-left: 15px;
      overflow-y: hidden;
      &.text-content{
        h1, h2{
          padding-top: inherit;
        }
        height: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }
      height: 100%;
      > .card {
        height: 100%;
        overflow-y: scroll;
        // enable momentum scrolling on mobile safari
        -webkit-overflow-scrolling: touch;
        > .card-header {
          position: absolute;
          z-index: 1;
          right: 0;
          left: 0;
        }
        > .table {
          margin-top: 51px;
          &.filtered {
            margin-top: 79.5px;
            @include media-breakpoint-down(md) {
              margin-top: 60.5px;
            }
          }
        }
      }
    }
    .flex-sidebar & {
      padding-right: 0;
    }
  }
}

.turbolinks-progress-bar {
  height: 2px !important;
  background-color: theme-color("primary") !important;
  box-shadow: 0 0 10px rgba(theme-color("primary"), 0.7) !important;
}

.octobox-icon {
  margin-top: -.22em;
  vertical-align: -.38em;
}

.jumbotron {
  .octobox-icon {
    margin-right: 8px;
    vertical-align: -14px;
  }
}
.navbar-main {
  margin-bottom: 0;
}
.navbar{
  .octobox-icon {
    margin-right: 3px;
  }
  &.navbar-light, &.bg-light{
    #search input{
      background: rgba($navbar-light-color,0.125);
      color: $navbar-light-color
    }
    .opencollective svg, .search-help svg, .octobox-icon svg{
      fill: $navbar-light-color;
    }
  }
  &.navbar-dark, &.bg-dark {
    #search input{
      background: rgba($navbar-dark-color,0.125);
      color: $navbar-dark-color
    }
    .opencollective svg, .search-help svg, .octobox-icon svg{
      fill: $navbar-dark-color;
    }
  }
}

.navbar-toggler {
  border: none;
  padding: 0;
}
.search-toggler {
  padding: 6px 10px 7px;
}

.navbar-avatar {
  margin-bottom: -3px;
  position: relative;
}

@include media-breakpoint-up(md){
 .navbar-avatar {
  position: relative;
  top: -3px
}
}

.navbar-nav {
  .octicon {
    margin-right: 5px;
    margin-left: -5px;
    width: 16px;
  }
}
#search {
  input {
    border: none;
    box-shadow: none;
  }
}

@include media-breakpoint-down(sm) {
  .navbar{
    form {
      border-top: none;
      border-bottom: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      .form-control{
        width: 100%;
      }
    }
    > .navbar-collapse .dropdown-menu {
      display: block;
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      > a {
        line-height: 20px;
        padding: 5px 15px 5px 25px;
      }
      > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
    }
    &.navbar-dark{
      .dropdown-menu{
        > a{
          color: $navbar-dark-color;
          &:hover,
          &:focus {
            color: $navbar-dark-hover-color;
            background-color: transparent;
          }
        }
        > .dropdown-divider {
          border-top-color: $navbar-dark-color;
        }
      }
    }
    &.navbar-light{
      .dropdown-menu{
        > a{
          color: $navbar-light-color;
          &:hover,
          &:focus {
            color: $navbar-light-hover-color;
            background-color: transparent;
          }
        }
        > .dropdown-divider {
          border-top-color: $navbar-light-color;
        }
      }
    }
  }
}

.table > tbody > tr:first-child > td {
  border-top: none;
}

.label-muted {
  background-color: $label-muted-color;
}

.label-default {
  background-color: $label-default-color;
}

.table-responsive {
  border: 0;
}

.toggle-star {
  cursor: pointer;
}

.table-notifications {
  td{
    padding: 0.6rem;
  }
  .active {
    font-weight: bold;
    background-color: $list-group-action-active-bg;
  }
}

@include media-breakpoint-up(md) {
  .table-notifications tr td:first-child {
    border-left: 2px solid $list-group-bg;
  }
  .table-notifications tr:hover td:first-child {
    border-left: 2px solid $list-group-action-hover-color;
  }
  .table-notifications tr.active td:first-child {
    border-left: 2px solid $list-group-action-active-bg;
  }
  .table-notifications tr.active:hover td:first-child {
    border-left: 2px solid $list-group-action-hover-color;
  }
  td.current {
    border-left: 2px solid $list-group-active-border-color !important;
  }
}

table.keyboard-mappings {
  font-size: 12px;
}

table.keyboard-mappings tr > td {
  padding-bottom: 6px;
}

td.keys {
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
}

.key {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  vertical-align: middle;
  background-color: rgba($body-color,0.1);
  border: solid 1px rgba($body-color,0.2);
  border-bottom-color: rgba($body-color,0.3);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba($body-color,0.4);
}

.sync{
  margin-right: 0px;
}

.img-rounded {
  border-radius: 3px;
}

.octicon {
  vertical-align: text-bottom;
}

.nav-filters {
  border-top: 1px solid $nav-divider-color;
  margin: 4px 0;
  padding: 4px 0 0;

  &:first-child{
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
  }

  > li > a {
    position: relative;
    .badge {
      top: 11px;
    }
    &.filter {
      padding: 5px 15px;

      &.repo-label {
        padding-left: 42px;

        .octicon {
          margin-right: 5px;
        }
      }

      .badge {
        top: 6px;
      }
    }
  }
  .badge {
    line-height: 12px;
    position: absolute;
    right: 10px;
  }
}
.owner-label, .repo-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-icon {
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  &.octicon-primitive-dot, &.octicon-primitive-square {
    margin-top: -3px;
    margin-bottom: -3px;
  }
}

.sidebar-avatar {
  margin-right: 3px;
}

.notification-repo, .notification-date {
  white-space: nowrap;
}

@include media-breakpoint-up(md) {
  .notification-star,
  .notification-icon,
  .notification-checkbox {
    width: 1%;
    text-align: center;
  }
  .notification-checkbox {
    input {
      margin-left: 6px;
      margin-right: 0;
      position: relative;
      top: -1px;
    }
  }
  .notification{
    .notification-date{
      min-width: 5em;
    }
    .buttons{
      display: none;
      a{
        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
    &:hover, &:focus{
      .notification-date small{
        display: none;
      }
      .buttons{
        display: inline;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .table-notifications {
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
      display: block;
    }
    &.table > tbody > tr.active {
      background: $list-group-action-active-bg;
      &:hover {
        background: $list-group-action-active-bg;
      }

    }
    &.table > tbody > tr > td {
      border: none;
      padding: 0;
    }
    .notification {
      border-top: 1px solid $list-group-border-color;
      position: relative;
      padding: 10px 10px 10px 40px;
      &:first-child {
        border-top: none;
      }
      .buttons{
        display: none;
      }
    }
    .notification-checkbox,
    .notification-star,
    .notification-date {
      position: absolute;
    }
    .notification-checkbox {
      top: 8px;
      left: 10px;
    }
    .notification-star {
      top: 38px;
      left: 10px;
    }
    .notification-icon,
    .notification-subject {
      display: inline-block;
    }
    .notification-subject {
      .link {
        display: inline-block;
        overflow: hidden;
        width: calc(100vw - 200px);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .notification-subject-author:before {
      content: "by ";
      color: $text-muted;
      font-size: 10px;
    }
    .notification-date {
      top: 10px;
      right: 10px;
    }
  }

}

@include media-breakpoint-down(md) {
  $sidebar-width: 250px;

  .flex-content {
    position: relative;
    height: 100%;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .flex-sidebar {
    position: absolute;
    // enable momentum scrolling on mobile safari
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    top: 0;
    width: $sidebar-width;
    left: -$sidebar-width;
  }

  .flex-content {
    left: 0;
  }

  .flex-content.active {
    left: $sidebar-width;
  }

}

.header-flash-messages {
  .alert {
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
  }
}

// SVG text classes
svg{
  fill: $body-color;
}

.text-default, .text-default svg{
  fill: $body-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.text-muted {
  fill: $text-muted;
}

.text-primary, .text-primary svg{
  fill: theme-color("primary");
}

.nav-link.active .text-primary{
    fill: $nav-pills-link-active-color;
}

.text-success, .text-success svg{
  fill: theme-color("success");
}

.text-info, .text-info svg{
  fill: theme-color("info");
}

.text-warning, .text-warning svg{
  fill: theme-color("warning");
}

.text-danger, .text-danger svg{
  fill: theme-color("danger");
}
.text-secondary, .text-secondary svg{
  fill: theme-color("secondary");
}

.text-subscribed, .text-subscribed svg{
  fill: $label-subscribed-color;
}

.text-team_mention, .text-team_mention svg{
  fill: $label-team_mention-color;
}

.text-security_alert, .text-security_alert svg{
  fill: $label-security_alert-color;
}

.octicon-star {
  fill: $icon-star-fill;
  stroke: $icon-star-stroke;
  cursor: pointer;
  &:hover {
    fill: $icon-star-hover-fill;
  }
  &.star-active {
    fill: $icon-star-active-fill;
    stroke: $icon-star-active-stroke;
  }
}

// badges

.badge-subscribed{
  background-color: $label-subscribed-color;
  color: $label-subscribed-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-subscribed-text-color;
    text-decoration: none;
    background-color: darken( $label-subscribed-color, 10% );
  }
}

.badge-team_mention{
  background-color: $label-team_mention-color;
  color: $label-team_mention-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-team_mention-text-color;
    text-decoration: none;
    background-color: darken( $label-team_mention-color, 10% );
  }
}

.badge-security_alert{
  background-color: $label-security_alert-color;
  color: $label-security_alert-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-security_alert-text-color;
    text-decoration: none;
    background-color: darken($label-security_alert-color, 10% );
  }
}

.filter-label {
  pointer-events: none;
}

.card-notifications {
  margin-bottom: 20px;
  .card-header {
    background: mix($black, $card-bg, 3%);
    padding: 6px 8px;
    .pagination{
      margin: 6px 0px 0px;
    }
  }
  .bold {
    font-weight: bold;
  }
}

.select-all {
  padding-left: 6px;
  input {
    position: relative;
    left: 2px;
  }
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.spinning{
  animation: spin 1s infinite steps(90);
}

.screenshot{
  max-width: 100%;
}

.notification-open{
  fill: $notification-open;
}
.notification-closed{
  fill: $notification-closed;
}

.hidden-button {
  display: none;
}

.settings-sha {
  margin: 35px 0 10px;
}

.emoji{
  height: 1em;
  width: 1em;
}

.per-page .dropdown-menu{
  min-width: 4rem;
}

.private-repo{
  fill: icon-private-repo-color;
}

.search-help{
  position: relative;
  left: -35px;
  fill: $body-color;
}

.btn-outline-dark{
  &:hover svg, &:active svg{
    fill: color-yiq($body-color);
  }
}

.flex-header .dropdown-menu{
  z-index: 2000;
}

.text-large{
  font-size: 16px;
}
