.badge-success, .badge-dark, .badge-danger{
  cursor: default;
}
.badge-subscribed, .badge-merged{
  background-color: $label-subscribed-color;
  color: $label-subscribed-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-subscribed-text-color;
    text-decoration: none;
    background-color: darken( $label-subscribed-color, 10% );
  }
}

.badge-team_mention{
  background-color: $label-team_mention-color;
  color: $label-team_mention-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-team_mention-text-color;
    text-decoration: none;
    background-color: darken( $label-team_mention-color, 10% );
  }
}

.badge-security_alert{
  background-color: $label-security_alert-color;
  color: $label-security_alert-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-security_alert-text-color;
    text-decoration: none;
    background-color: darken($label-security_alert-color, 10% );
  }
}

.badge-pr {
  background-color: transparent;
  &.success {
    .octicon {
      fill: $notification-open;
    }
  }
  &.pending .octicon {
    vertical-align: middle;
  }
}
