.badge-subscribed{
  background-color: $label-subscribed-color;
  color: $label-subscribed-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-subscribed-text-color;
    text-decoration: none;
    background-color: darken( $label-subscribed-color, 10% );
  }
}

.badge-team_mention{
  background-color: $label-team_mention-color;
  color: $label-team_mention-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-team_mention-text-color;
    text-decoration: none;
    background-color: darken( $label-team_mention-color, 10% );
  }
}

.badge-security_alert{
  background-color: $label-security_alert-color;
  color: $label-security_alert-text-color;
  &[href]:hover, &[href]:focus {
    color: $label-security_alert-text-color;
    text-decoration: none;
    background-color: darken($label-security_alert-color, 10% );
  }
}

.pending {
  fill: $octicon-pr-pending-color;
}

.badge-pr-status-pending, .badge-pr-status-failure-error {
  background-color: $list-group-bg;
}

.badge-pr-status-success {
  background-color: $octicon-pr-success-badge-bg-color;
  .octicon {
    fill: white;
  }
}

.badge-pr-status-failure-error > .octicon {
  fill: $octicon-pr-failure_error-color;
}
