body.dark {
  background-color: #282828;

  .bg-dark {
    background-color: #181818 !important;
  }

  .flex-sidebar {
    filter: contrast(110%) brightness(90%) invert(1) hue-rotate(180deg);
  }

  .flex-main {
    background-color: transparent;
  }

  .flex-main > div:nth-child(1) {
    filter: brightness(87%) invert(1) brightness(90%) hue-rotate(180deg);
  }

  .user-settings {
    filter: contrast(110%) brightness(90%) invert(1) hue-rotate(180deg);
  }
}
