// SVG text classes
svg{
  fill: $body-color;
}

.text-default, .text-default svg{
  fill: $body-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.text-muted {
  fill: $text-muted;
}

.text-primary, .text-primary svg{
  fill: theme-color("primary");
}

.nav-link.active .text-primary{
    fill: $nav-pills-link-active-color;
}

.text-success, .text-success svg{
  fill: theme-color("success");
}

.text-info, .text-info svg{
  fill: theme-color("info");
}

.text-warning, .text-warning svg{
  fill: theme-color("warning");
}

.text-danger, .text-danger svg{
  fill: theme-color("danger");
}
.text-secondary, .text-secondary svg{
  fill: theme-color("secondary");
}

.text-light, .text-light svg{
  fill: theme-color("light");
}

.text-subscribed, .text-subscribed svg{
  fill: $label-subscribed-color;
}

.text-team_mention, .text-team_mention svg{
  fill: $label-team_mention-color;
}

.text-security_alert, .text-security_alert svg{
  fill: $label-security_alert-color;
}

.octicon-star {
  fill: $icon-star-fill;
  stroke: $icon-star-stroke;
  cursor: pointer;
  &:hover {
    fill: $icon-star-hover-fill;
  }
  &.star-active {
    fill: $icon-star-active-fill;
    stroke: $icon-star-active-stroke;
  }
}

.notification-open{
  fill: $notification-open;
}
.notification-closed{
  fill: $notification-closed;
}

.notification-pending{
  fill: $notification-pending;
}

.private-repo{
  fill: $icon-private-repo-color;
}

.btn-outline-dark{
  &:hover svg, &:active svg{
    fill: color-yiq($body-color);
  }
}

.octicon {
  &.failure, &.error {
    fill: $notification-closed;
  }
  &.pending {
    fill: $notification-pending;
  }
}
