svg{
  fill: $body-color;
}

// add svg support for twbs theme colors
@mixin create-fills($color, $value){
  .text-#{$color}, .text-#{$color} svg{
    fill: $value;
  }
  .#{$color}-color, .#{$color}-color svg{
    fill: $value;
  }
  .#{$color}-text-color, .#{$color}-text-color svg{
      fill: color-yiq($value);
  }
}
@each $color, $value in $theme-colors{
  @include create-fills($color, $value);
}

// add our own while we're at it
@each $color, $value in $labels{
  @include create-fills($color, $value);
}

.text-default, .text-default svg{
  fill: $body-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.nav-link.active .text-primary{
    fill: $nav-pills-link-active-color;
}

.octicon-star {
  fill: $icon-star-fill;
  stroke: $icon-star-stroke;
  cursor: pointer;
  &:hover {
    fill: $icon-star-hover-fill;
  }
  &.star-active {
    fill: $icon-star-active-fill;
    stroke: $icon-star-active-stroke;
  }
}

.notification-open{
  fill: $notification-open;
}
.notification-closed{
  fill: $notification-closed;
}

.notification-pending{
  fill: $notification-pending;
}

.private-repo{
  fill: $icon-private-repo-color;
}

.btn-outline-dark{
  &:hover svg, &:active svg{
    fill: color-yiq($body-color);
  }
}

.octicon {
  &.failure, &.error {
    fill: $notification-closed;
  }
  &.pending {
    fill: $notification-pending;
  }
}
