svg{
  fill: $body-color;
}

// add svg support for twbs theme colors
@mixin create-fills($color, $value){
  .text-#{$color}, .text-#{$color} svg{
    fill: $value !important;
  }
  .#{$color}-color, .#{$color}-color svg{
    fill: $value !important;
  }
  .#{$color}-text-color, .#{$color}-text-color svg{
      fill: color-yiq($value) !important;
  }
}
@each $color, $value in $theme-colors{
  @include create-fills($color, $value);
}
@each $color, $value in $text-colors{
  @include create-fills($color, $value);
}

// add svg support for tbs buttons
@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  fill: color-yiq($background);
  & svg{
    fill: color-yiq($background);
  }
  @include hover {
    fill: color-yiq($hover-background);
  }
  &.disabled,
  &.disabled svg,
  &:disabled,
  &:disabled svg {
    fill: color-yiq($background);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active
  .show > &.dropdown-toggle {
    fill: color-yiq($active-background);
  }
}
@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  fill: $color;
  & svg{
    fill: $color;
  }
  &:hover,
  &:hover svg {
    fill: $color-hover;
  }
  &.disabled,
  &.disabled svg,
  &:disabled,
  &:disabled svg {
    fill: $color;
    background-color: transparent;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active
  .show > &.dropdown-toggle {
    fill: color-yiq($active-background);
  }
}
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

//add svg button for badges
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin badge-variant($bg) {
  color: color-yiq($bg);
  & svg{
    fill: color-yiq($bg);
  }
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.nav-pills {
  .nav-link.active,
  .nav-link.active svg:not(.octicon-x),
  .show > .nav-link,
  .show > .nav-link svg:not(.octicon-x),{
    fill: $nav-pills-link-active-color;
  }
}

.text-default, .text-default svg{
  fill: $body-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.nav-link.active .text-primary{
    fill: $nav-pills-link-active-color !important;
}

@mixin star-active{
  fill: $icon-star-active-fill !important;
}

@mixin star-fill{
  fill: $icon-star-fill;
  cursor: pointer;
  .star-active{
    @include star-active;
  }
}

.table-notifications .octicon-star {
  @include star-fill;
  &:hover {
    fill: $icon-star-hover-fill;
  }
}

#thread .octicon-star{
 @include star-fill;
}

.star-active {
  @include star-active;
}

.star-active .octicon-star{
  @include star-active;
}

.notification-open{
  fill: $notification-open;
}
.notification-closed{
  fill: $notification-closed;
}

.notification-pending{
  fill: $notification-pending;
}

.private-repo{
  fill: $icon-private-repo-color;
}

.octicon {
  &.success {
    fill: $notification-open !important;
  }
  &.failure, &.error {
    fill: $notification-closed !important;
  }
  &.pending {
    fill: $notification-pending !important;
  }
}
