// iOS 11 viewport fixes https://ayogo.com/blog/ios11-viewport/

.flex-header {
    /* ... */
    /* Status bar height on iOS 10 */
    padding-top: 20px;
    /* Status bar height on iOS 11.0 */
    padding-top: constant(safe-area-inset-top);
    /* Status bar height on iOS 11+ */
    padding-top: env(safe-area-inset-top);
}