$notification-items: (
  'checkbox',
  'star',
  'archived',
  'subject',
  'repo',
  'subject-author',
  'reason'
  'datetime'
);

.table-notifications {
  td{
    padding: 0.6rem;
    &.notification-archived, .notification-repo{
      padding: 0;
      svg, small{
        margin: 0.6rem;
      }
    }
  }
  .active {
    font-weight: bold;
    background-color: mix($list-group-action-active-bg, $body-bg, 50%);
  }
}

.table > tbody > tr:first-child > td {
  border-top: none;
}

.notification-disabled{
  opacity: 0.3;
  &:hover{
    opacity: 0.8;
  }
}

.toggle-star {
  cursor: pointer;
}

.owner-label, .repo-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification-repo, .notification-date {
  white-space: nowrap;
}

.custom-checkbox {
  input[type=checkbox]:not(:checked) + label {
    &::before, &::after {
      background-color: $body-bg;
      border: 1px solid $icon-star-stroke;
      border-radius: .25rem;
    }
  }
}

@mixin add-borders{
  .table-notifications tr td:first-child {
    border-left: 1px solid $list-group-bg;
  }
  .table-notifications tr.active td:first-child {
    border-left: 1px solid $list-group-action-active-bg;
  }
  .table-notifications tr:hover td:first-child {
    border-left: 1px solid $list-group-action-hover-color;
  }
  .table-notifications tr.active:hover td:first-child {
    border-left: 1px solid $list-group-action-hover-color;
  }
  td.current {
    border-left: 1px solid $list-group-active-border-color !important;
  }
}

@mixin remove-borders{
  .table-notifications tr td:first-child {
    border-left: 0;
  }
  .table-notifications tr:hover td:first-child {
    border-left: 0;
  }
  .table-notifications tr.active td:first-child {
    border-left: 0;
  }
  .table-notifications tr.active:hover td:first-child {
    border-left: 0;
  }
  td.current {
    border-left: 0 !important;
  }
}

@mixin regular-table{

  @include add-borders;

  @each $item in $notification-items{
    .notification-#{$item}{
      text-overflow: ellipsis;
    }
  }
  .notification-star,
  .notification-icon,
  .notification-checkbox {
    width: 1%;
    text-align: center;
  }
  .notification-checkbox {
    label {
      left: 5px;
    }
  }
  .notification{
    .notification-repo,
    .notification-subject-author{
      max-width: 10rem;
      overflow: hidden;
    }
    .notification-date{
      min-width: 5.5em;
      text-align: right;
    }
    .buttons{
      display: none;
      a{
        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
    @media (hover: hover) {
      &:hover, &:focus{
        .notification-date{
          small, .badge {
            display: none;
          }
        }
        .buttons{
          display: inline;
        }
      }
    }
  }
}

@mixin responsive-table{
  .table-notifications {
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
      display: block;
    }
    tbody{
      width:100%
    }
    &.table > tbody > tr.active {
      background: $list-group-action-active-bg;
      &:hover {
        background: $list-group-action-active-bg;
      }

    }
    &.table > tbody > tr > td {
      border: none;
      padding: 0;
    }
    .notification {
      border-top: 1px solid $list-group-border-color;
      position: relative;
      padding: 10px 0px;
      min-height: 110px;
      &:first-child {
        border-top: none;
      }
      .buttons{
        display: none;
      }
      @media (hover: hover) {
        &:hover, &:focus{
          .notification-date{
            small, .badge{
              display: inline;
            }
          }
        }
      }
    }
    .notification-checkbox,
    .notification-star,
    .notification-icon,
    .notification-date,
    .notification-archived {
      position: absolute;
    }
    .notification-icon{
      top: 12px;
      left: 10px;
    }
    .notification-checkbox {
      top: 48px;
      left: 4px;
    }
    .notification-star {
      top: 85px;
      left: 10px;
    }
    .notification-archived {
      float: right;
      right: 18px;
      top: 55px;
    }
    .notification-subject,
    .notification-repo,
    .notification-subject-author,
    .notification-reason{
      display: block;
      width: calc(100% - 8rem);
      position: relative;
      left: 40px
    }
    .notification-subject {
      display: inline-block;
      .link {
        overflow-wrap: break-word;
      }
      &:first-child .badge{
        display: block;
      }
    }
    .notification-subject-author:before:not(:empty) {
      content: "by ";
      color: $text-muted;
      font-size: 10px;
    }
    .notification-date {
      top: 10px;
      right: 10px;
    }
  }
}

@include regular-table;

@include media-breakpoint-down(xxl) {
  .flex-main.show-thread{
    @include remove-borders;
    @include responsive-table;
  }
}

@include media-breakpoint-down(md) {
  @include remove-borders;
  @include responsive-table;
}

a span.notification-number {
  font-weight: normal;
}
