$navbar-default-bg: #312312;
$table-bg-active: #fafafa;
$tooltip-opacity: 1;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body {
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
}
body {
  background-color: #f7f7f7;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
  .octicon {
    fill: #fff;
    margin-right: 3px;
  }
}

.navbar-avatar {
  margin-top: -3px;
}

.table > tbody > tr:first-child > td {
  border-top: none;
}

.label-muted {
  background-color: #ccc;
}

.table-responsive {
  border: 0;
}

.toggle-star {
  cursor: pointer;
}

.star {
  color: #f0ad4e;
}

@media (max-width: $screen-xs-max) {
  .table-notifications tr {
    border-left: 2px solid transparent;
  }
}

@media (min-width: $screen-sm-min ) {
  .table-notifications tr td:first-child {
    border-left: 2px solid #fff;
  }
  .table-notifications tr:hover td:first-child {
    border-left: 2px solid $table-bg-hover;
  }
  .table-notifications tr.active td:first-child {
    border-left: 2px solid $table-bg-active;
  }
  .table-notifications tr:hover td:first-child {
    border-left: 2px solid #ededed;
  }

  td.current {
    border-left: 2px solid #64beff !important;
  }
}

table.keyboard-mappings {
  font-size: 12px;
  color: #555;
}

table.keyboard-mappings tr > td {
    padding-bottom: 6px;
}

td.keys {
  padding-right: 10px;
  color: #767676;
  text-align: right;
  white-space: nowrap;
}

.key {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.sync{
  margin-right: 0px;
}

.img-rounded {
  border-radius: 3px;
}

.dropdown {
  display: inline-block;
}
.table-notifications {
  table {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
  }
  .active {
    font-weight: bold;
  }
}
.octicon {
  vertical-align: text-bottom;
}
.sidebar-icon {
  width: 1%;
  text-align: center;
}
.notification-date {
  white-space: nowrap;
}
@media (min-width: $screen-sm-min) {
  .notification-checkbox,
  .notification-star,
  .notification-icon {
    width: 1%;
    text-align: center;
  }
}
@media (max-width: $screen-xs-max) {
  .table-notifications {
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
      display: block;
    }
    .table > tbody > tr.active {
      background: #fafafa;
      &:hover {
        background: #ededed;
      }

    }
    .table > tbody > tr > td {
      border: none;
      padding: 0;
    }
    .notification {
      border-top: 1px solid #ddd;
      position: relative;
      padding: 10px 10px 10px 40px;
    }
    .notification-checkbox,
    .notification-star,
    .notification-date {
      position: absolute;
    }
    .notification-checkbox {
      top: 10px;
      left: 10px;
    }
    .notification-star {
      top: 32px;
      left: 10px;
    }
    .notification-icon,
    .notification-subject {
      display: inline-block;
    }
    .notification-date {
      top: 10px;
      right: 10px;
    }
  }
}

// Bootstrap Off Canvas

@media screen and (max-width: $screen-sm-max) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.header-flash-messages {
  .alert {
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
  }
}

// SVG text classes

.text-muted {
  fill: $text-muted;
}

.text-primary {
  fill: $brand-primary;
}

.text-success {
  fill: $state-success-text;
}

.text-info {
  fill: $state-info-text;
}

.text-warning {
  fill: $state-warning-text;
}

.text-danger {
  fill: $state-danger-text;
}

.text-default {
  fill: $text-color;
}

.octicon-star {
  fill: #ccc;
  cursor: pointer;
  &:hover {
    fill: #aaa;
  }
  &.star-active {
      fill: #f0ad4e;
  }
}
