@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.table > tbody > tr:first-child > td {
  border: none;
}

.label-muted{
  background-color: #ccc;
}

.table-responsive {
  border: 0;
}

.toggle-star {
  cursor: pointer;
}

.star {
  color: #f0ad4e;
}

td.current {
  border-left: 2px solid #64beff !important;
}

#help-box {
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  position:fixed;
}

.close-window {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 3px;
}
