$table-bg-active: #fafafa;
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$jumbotron-bg: #fff;
$subscribed-color: #a128ca;
$subscribed-text-color: #fff;
$team_mention-color: #5d477e;
$team_mention-text-color: #fff;
$text-color: #333;
$security_alert-color: #800000;
$security_alert-text-color: #fff;

@import 'bootstrap-custom';
@import "patterns/blankslate";

html, body {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
}

.flex-body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.flex-header {
  flex: 0 0 auto;
}
.flex-content {
  display: flex;
  min-height:0;
}
.flex-sidebar {
  flex: 0 0 250px;
  overflow: auto;
  padding-bottom: 60px;
  .nav-item{
    max-width: 100%;
    &:hover{
      background-color: #eee;
    }
  }
}
.flex-main {
  flex: 1;
  min-width: 0;
  overflow: auto;
}
.flex-container {
  padding: 15px;
  min-width: 0;
  &.text-content{
    max-width: 60em;
    font-size: 16px;
    p:last-child{
      min-height: 35em;
    }
  }
  .flex-main & {
    padding-left: 0;
  }
}

.footer {
  text-align: center;
  color: #999;
  a{
    color: #666;
  }
}

@include media-breakpoint-down(md) {
  .flex-main{
    overflow-y: hidden;
  }
  .flex-container {
    .flex-main & {
      padding-left: 15px;
      overflow-y: hidden;
      &.text-content{
        height: 100%;
        overflow-y: scroll;
      }
      height: 100%;
      > .card {
        height: 100%;
        overflow-y: scroll;
        // enable momentum scrolling on mobile safari
        -webkit-overflow-scrolling: touch;
        > .card-header {
          position: absolute;
          z-index: 1;
          right: 0;
          left: 0;
        }
        > .table {
          margin-top: 51px;
          &.filtered {
            margin-top: 79.5px;
            @include media-breakpoint-down(md) {
              margin-top: 60.5px;
            }
          }
        }
      }
    }
    .flex-sidebar & {
      padding-right: 0;
    }
  }
}

.turbolinks-progress-bar {
  height: 2px !important;
  background-color: #77b6ff !important;
  box-shadow: 0 0 10px rgba(#77b6ff, 0.7) !important;
}

.octobox-icon {
  margin-top: -.22em;
  vertical-align: -.38em;
}

.jumbotron {
  .octobox-icon {
    margin-right: 8px;
    vertical-align: -14px;
  }
}
.navbar-main {
  margin-bottom: 0;
}
.navbar-brand {
  .octobox-icon {
    fill: #fff;
    margin-right: 3px;
  }
  &:hover {
    .octobox-icon {
      fill: #fff;
    }
  }
}

.navbar-toggler {
  border: none;
  padding: 0;
}
.search-toggler {
  padding: 6px 10px 7px;
}

.navbar-avatar {
  margin-bottom: -3px;
  position: relative;
}

@include media-breakpoint-up(md){
 .navbar-avatar {
  position: relative;
  top: -3px
}
}

.navbar-nav {
  .octicon {
    margin-right: 5px;
    margin-left: -5px;
    width: 16px;
  }
}
#search {
  input {
    background: rgba(255,255,255,0.125);
    border: none;
    box-shadow: none;
    color: #fff;
  }
}

@include media-breakpoint-down(sm) {
  .navbar-nav .dropdown .dropdown-menu {
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    > a {
      color: #ddd;
      line-height: 20px;
      padding: 5px 15px 5px 25px;
      &:hover,
      &:focus {
        color: #fff;
        background-color: transparent;
      }
    }
    > a,
    .dropdown-header {
      padding: 5px 15px 5px 25px;
    }
    .dropdown-divider {
      border-top-color: #444;
    }
  }
  .navbar form {
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .form-control{
      width: 100%;
    }
  }
}

.navbar-collapse.show{
  border-top: solid 1px #444;
}

.table > tbody > tr:first-child > td {
  border-top: none;
}

.label-muted {
  background-color: #ccc;
}

.label-default {
  background-color: #333;
}

.table-responsive {
  border: 0;
}

.toggle-star {
  cursor: pointer;
}

@include media-breakpoint-up(md) {
  .table-notifications tr td:first-child {
    border-left: 2px solid #fff;
  }
  .table-notifications tr:hover td:first-child {
    border-left: 2px solid $table-hover-bg;
  }
  .table-notifications tr.active td:first-child {
    border-left: 2px solid $table-bg-active;
  }
  .table-notifications tr.active:hover td:first-child {
    border-left: 2px solid #ededed;
  }
  td.current {
    border-left: 2px solid #64beff !important;
  }
}

table.keyboard-mappings {
  font-size: 12px;
  color: #555;
}

table.keyboard-mappings tr > td {
  padding-bottom: 6px;
}

td.keys {
  padding-right: 10px;
  color: #767676;
  text-align: right;
  white-space: nowrap;
}

.key {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.sync{
  margin-right: 0px;
}

.img-rounded {
  border-radius: 3px;
}

.table-notifications {
  td{
    padding: 0.6rem;
  }
  .active {
    font-weight: bold;
    background-color: #FAFAFF;
  }
}

.octicon {
  vertical-align: text-bottom;
}

.nav-filters {
  .divider {
    border-top: 1px solid #ddd;
    height: 1px;
    margin: 5px 0;
    &.double {
      border-top: 3px double #ddd;
    }
  }
  > li > a {
    position: relative;
    .badge {
      top: 11px;
    }
    &.filter {
      padding: 5px 15px;

      &.repo-label {
        padding-left: 42px;

        .octicon {
          margin-right: 5px;
        }
      }

      .badge {
        top: 6px;
      }
    }
  }
  .badge {
    line-height: 12px;
    position: absolute;
    right: 10px;
  }
}
.owner-label, .repo-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-icon {
  display: inline-block;
  margin-right: 5px;
  width: 18px;
  &.octicon-primitive-dot, &.octicon-primitive-square {
    margin-top: -3px;
    margin-bottom: -3px;
  }
}

.sidebar-avatar {
  margin-right: 3px;
}

.notification-repo, .notification-date {
  white-space: nowrap;
}

@include media-breakpoint-up(md) {
  .notification-star,
  .notification-icon,
  .notification-checkbox {
    width: 1%;
    text-align: center;
  }
  .notification-checkbox {
    input {
      margin-left: 6px;
      margin-right: 0;
      position: relative;
      top: -1px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .table-notifications {
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
      display: block;
    }
    &.table > tbody > tr.active {
      background: #fafafa;
      &:hover {
        background: #ededed;
      }

    }
    &.table > tbody > tr > td {
      border: none;
      padding: 0;
    }
    .notification {
      border-top: 1px solid #ddd;
      position: relative;
      padding: 10px 10px 10px 40px;
      &:first-child {
        border-top: none;
      }
    }
    .notification-checkbox,
    .notification-star,
    .notification-date {
      position: absolute;
    }
    .notification-checkbox {
      top: 8px;
      left: 10px;
    }
    .notification-star {
      top: 38px;
      left: 10px;
    }
    .notification-icon,
    .notification-subject {
      display: inline-block;
    }
    .notification-subject {
      .link {
        display: inline-block;
        overflow: hidden;
        width: calc(100vw - 200px);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .notification-subject-author:before {
      content: "by ";
      color: $text-muted;
      font-size: 10px;
    }
    .notification-date {
      top: 10px;
      right: 10px;
    }
  }
}

@include media-breakpoint-down(md) {
  $sidebar-width: 250px;

  .flex-content {
    position: relative;
    height: 100%;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .flex-sidebar {
    position: absolute;
    // enable momentum scrolling on mobile safari
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    bottom: 0;
    top: 0;
    width: $sidebar-width;
    left: -$sidebar-width;
  }

  .flex-content {
    left: 0;
  }

  .flex-content.active {
    left: $sidebar-width;
  }

}

.header-flash-messages {
  .alert {
    margin-bottom: 0;
    border: 0px;
    border-radius: 0px;
  }
}

// SVG text classes

.text-muted {
  fill: $text-muted;
}

.text-primary {
  fill: theme-color("primary");
}

.text-success {
  fill: theme-color("success");
}

.text-info {
  fill: theme-color("info");
}

.text-warning {
  fill: theme-color("warning");
}

.text-danger {
  fill: theme-color("danger");
}
.text-secondary {
  fill: theme-color("secondary");
}


.text-default {
  fill: $text-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.badge-subscribed{
  background-color: $subscribed-color;
  color: $subscribed-text-color;
  &[href]:hover, &[href]:focus {
    color: $subscribed-text-color;
    text-decoration: none;
    background-color: darken( $subscribed-color, 10% );
  }
}

.text-subscribed{
  fill: $subscribed-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.badge-team_mention{
  background-color: $team_mention-color;
  color: $team_mention-text-color;
  &[href]:hover, &[href]:focus {
    color: $team_mention-text-color;
    text-decoration: none;
    background-color: darken( $team_mention-color, 10% );
  }
}

.text-team_mention{
  fill: $team_mention-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.badge-security_alert{
  background-color: $security_alert-color;
  color: $security_alert-text-color;
  &[href]:hover, &[href]:focus {
    color: $security_alert-text-color;
    text-decoration: none;
    background-color: darken( $security_alert-color, 10% );
  }
}

.text-security_alert{
  fill: $security_alert-color;
  &.sidebar-icon {
    fill: $text-muted;
  }
}

.octicon-star {
  fill: none;
  stroke: #aaa;
  cursor: pointer;
  &:hover {
    fill: #aaa;
  }
  &.star-active {
    fill: #f0ad4e;
    stroke: #f0ad4e;
  }
}

.filter-label {
  pointer-events: none;
}

.card-notifications {
  margin-bottom: 20px;
  .card-header {
    padding: 6px 8px;
    .pagination{
      margin: 6px 0px 0px;
    }
  }
  .bold {
    font-weight: bold;
  }
}

.select-all {
  padding-left: 6px;
  input {
    position: relative;
    left: 2px;
  }
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.spinning{
  animation: spin 1s infinite steps(90);
}

.screenshot{
  max-width: 100%;
}

.opencollective{
  fill: #ddd;
}
.nav-link.active svg{
  fill: white;
  &.octicon-star{
    stroke: white;
  }
}
.notification-open{
  fill: #5cb85c;
}
.notification-closed{
  fill: #d9534f;
}
.octicon.inverse{
  fill: #fff;
}
.hidden-button {
  display: none;
}

.settings-sha {
  margin: 35px 0 10px;
}

.emoji{
  height: 1em;
  width: 1em;
}

.per-page .dropdown-menu{
  min-width: 4rem;
}

.private-repo{
  fill: #dbab09;
}

.search-help{
  position: relative;
  left: -35px;
  fill: #aaa;
}
