// Darkly 4.1.3
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #999 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E74C3C !default;
$orange:  #fd7e14 !default;
$yellow:  #F39C12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498DB !default;

$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-800 !default;
$dark:          $gray-500 !default;

$yiq-contrasted-threshold:  175 !default;

// Body

$body-bg:                   #222233 !default;
$body-color:                $white !default;

// Links

$link-color:                #AACCFF !default;

// Fonts

$text-muted:				  $gray-300 !default;

// Tables

$table-accent-bg:             $gray-800 !default;

$table-border-color:          $gray-700 !default;

$table-dark-bg:               $gray-500 !default;
$table-dark-border-color:     darken($gray-500, 7.5%) !default;
$table-dark-color:            $body-bg !default;

// Forms

$input-border-color:                    transparent !default;

$input-group-addon-color:               $gray-500 !default;
$input-group-addon-bg:                  $gray-700 !default;

$custom-file-color:                 $gray-500 !default;
$custom-file-border-color:          $gray-700 !default;

// Dropdowns

$dropdown-bg:                       mix($body-bg, $white, 95%) !default;
$dropdown-border-color:             mix($body-bg, $white, 80%) !default;
$dropdown-divider-bg:               mix($body-bg, $white, 80%) !default;

$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-disabled-color:           $gray-500 !default;
$nav-divider-color:					        $gray-700 !default;
$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $success !default;

$navbar-light-color:                rgba($white,.5) !default;
$navbar-light-hover-color:          $white !default;
$navbar-light-active-color:         $white !default;
$navbar-light-disabled-color:       rgba($white,.3) !default;
$navbar-light-toggler-border-color: rgba($white,.1) !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     lighten($body-bg, 5%) !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           mix($body-bg, $white, 80%) !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               lighten($body-bg, 15%) !default;
$pagination-hover-border-color:     mix($body-bg, $white, 80%) !default;

$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    $pagination-hover-border-color !default;

$pagination-disabled-color:         $white !default;
$pagination-disabled-bg:            darken($body-bg, 3%) !default;
$pagination-disabled-border-color:  darken($pagination-active-border-color, 3%) !default;


// Cards

$card-cap-bg:                       lighten($body-bg, 5%) !default;
$card-bg:                           lighten($body-bg, 5%) !default;

// Popovers

$popover-bg:                        $gray-800 !default;

$popover-header-bg:                 $gray-700 !default;

// Modals

$modal-content-bg:                  mix($body-bg, $white, 95%) !default;
$modal-content-border-color:        mix($body-bg, $white, 80%) !default;

$modal-header-border-color:         mix($body-bg, $white, 80%) !default;

// Progress bars

$progress-bg:                       $gray-700 !default;

// List group

$list-group-bg:                     $card-bg !default;
$list-group-border-color:           lighten($body-bg, 15%) !default;
$list-group-action-active-bg:				lighten($body-bg, 20%) !default;
$list-group-active-border-color:    $white !default;


// Close

$close-color:                       $white !default;
$close-text-shadow:                 none !default;

// Code

$pre-color:                         inherit !default;
