$table-bg-active: #fafafa;
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$jumbotron-bg: #fff;
$subscribed-color: #a128ca;
$subscribed-text-color: #fff;
$team_mention-color: #5d477e;
$team_mention-text-color: #fff;
$text-color: #333;
$security_alert-color: #800000;
$security_alert-text-color: #fff;