name: Docker Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-build:
    name: Docker Build Test
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required to checkout the repository

    steps:
      - name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Build Docker image
        run: docker build -t octobox:test .