name: Docker Build

on: [push, pull_request]

jobs:
  docker-build:
    name: Docker Build Test
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t octobox:test .