name: Monthly Release

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}

jobs:
  release:
    name: Create monthly release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false

      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag=$(date +"%B-%Y" | tr '[:upper:]' '[:lower:]')
          gh release create "$tag" --target "$GITHUB_SHA" --generate-notes --title "$tag"
