<div class="container">
  <div class="footer-data" id="left">
    <p><%= copyright_message %></p>
  </div>
  <div class="footer-expendable" id="centre">
    <p><%= octobox_icon %></p>
  </div>
  <div class="footer-data" id="right">
    <p><%= license_message %></p>
  </div>
</div>
