<div class="footer text-muted small">
  <p>
    © 2017 <a href='https://github.com/andrew' >Andrew Nesbitt</a>,
    <%= link_to 'et al', "#{Octobox.config.source_repo}/graphs/contributors", target: '_blank' %>
    &mdash;
    <%= link_to 'Source', Octobox.config.source_repo, target: '_blank' %>
    available under
    <%= link_to 'AGPL 3.0', "#{Octobox.config.source_repo}/blob/master/LICENSE.txt", target: '_blank' %>
    <% if Octobox.config.octobox_io %>
      &mdash; <a href='/terms' target="_blank">Terms</a> &amp; <a href='/privacy' target="_blank">Privacy Policy</a>
    <% end %>
  </p>
</div>
