<div class="footer text-muted">
  <div class="footer-data"><p><%= copyright_message %></p></div>
  <div class="footer-expendable"><%= octobox_icon %></div>
  <div class="footer-data"><p><%= license_message %></p></div>
</div>
