<div class="footer text-muted small pt-3">
  <p>
    © 2021 <a href='https://github.com/andrew' >Andrew Nesbitt</a>,
    <%= link_to 'et al', "#{Octobox.config.source_repo}/graphs/contributors", target: '_blank', rel: "noopener" %>
    &mdash;
    Logo by
    <%= link_to 'Raeha Keller', "https://www.etsy.com/uk/shop/Ectogasm", target: '_blank', rel: "noopener" %>
    &mdash;
    <%= link_to 'Source', Octobox.config.source_repo, target: '_blank', rel: "noopener" %>
    available under
    <%= link_to 'AGPL 3.0', "#{Octobox.config.source_repo}/blob/master/LICENSE.txt", target: '_blank', rel: "noopener" %>
    <% if Octobox.io? %>
      &mdash; <a href='/terms' target="_blank" rel="noopener">Terms</a> &amp; <a href='/privacy' target="_blank" rel="noopener">Privacy Policy</a>
    <% end %>
  </p>
</div>
