<div class="container">
  <div class="footer-data" class="left">
    <p><%= copyright_message %></p>
  </div>
  <div class="footer-expendable" class="centre">
    <p><%= octobox_icon %></p>
  </div>
  <div class="footer-data" class="right">
    <p><%= license_message %></p>
  </div>
</div>
